{% extends 'base/base.html' %}
{% block page_content %}
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Catstagram</h1>
            <form method="post" action="{% url 'login user' %}" >
                {{ form }}
                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit">Sign in</button>
                {% csrf_token %}
            </form>
        </div>
{#        <div class="second-option">#}
{#            <p>Don't have an account yet? <a href="{% url 'register user' %}">Sign up</a></p>#}
{#        </div>#}
    </div>
{% endblock %}
