{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div class="profile">
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    <img src="{% static 'images/person.png' %}" alt="img8">
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ object.username }}</p>
                    {% if is_owner %}
                        <a href="{% url 'edit user' pk=object.pk %}">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>
                        <a href="{% url 'delete user' pk=object.pk %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                    {% endif %}
                </div>
                <div class="data">
                    <span style="color: #ffa7a6">{{ photos_count }}</span>
                    <p>photos</p>
                    <span style="color: #ffa7a6">{{ cats_count }}</span>
                    <p>cats</p>
                    <span style="color: #ffa7a6">{{ likes_count }}</span>
                    <p>likes</p>
                </div>
                {% if object.get_full_name %}
                    <h3 class="names">{{ object.get_full_name }}</h3>
                {% endif %}
                <p class="email">{{ object.email }}</p>
                {% if object.gender %}
                    <p class="gender">{{ object.gender }}</p>
                {% endif %}
            </div>
        </div>
        <div class="cats">
            <div class="statuses">
                {% for cat in object.cat_set.all %}
                    <a href="{% url 'details cat' cat_slug=cat.slug username=object.username %}">
                        <div class="head-cat">
                            <div class="status">
                                <div class="image">
                                    <img src="/media/{{ cat.personal_photo }}"
                                         alt="Image of {{ cat.name }}">
                                </div>
                            </div>
                            <p>{{ cat.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="cat-photos">
            {% for photo in object.photo_set.all %}
                <a href="{% url 'details photo' pk=photo.pk %}">
                    <img src="/media/{{ photo.photo }}"
                         alt="cat img">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}