{% extends 'base/base.html' %}
{% block page_content %}
    <div class="edit-delete">
        <h2>Edit Profile</h2>
        <form method="post" action="{% url 'edit user' pk=object.pk %}" enctype="multipart/form-data">
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.email }}
            {{ form.personal_photo }}
            <div class="label-input">
                <label for="image">Gender: </label>
                <div class="list-choice">
                    <div class="list-choice-title">Gender</div>
                    <div class="list-choice-objects">
                        <label>
                            <input type="radio" name="gender"/> <span>Female</span>
                        </label>
                        <label>
                            <input type="radio" name="gender"/> <span>Female</span>
                        </label>
                        <label>
                            <input type="radio" name="gender"/> <span>Do not show</span>
                        </label>
                    </div>
                </div>
            </div>
            <button class="edit-btn" type="submit">Edit</button>
        </form>
    </div>
{% endblock %}