{% extends 'base/base.html' %}
{% block page_content %}
    <!-- Start Add Pet Section-->
    <div class="edit-delete edit-photo">
        <h2>Add Cat</h2>

        <!-- Start Add Pet Form -->
        <form action="{% url 'add cat' %}" method="post">
            {{ form.as_p }}
            <button class="add-btn" type="submit">Add Cat</button>
            {% csrf_token %}
        </form>
        <!-- End Add Pet Form -->

    </div>
    <!-- End Add Pet Section -->
{% endblock %}
{##}
{#            <p>#}
{#                <label for="pet-name">Pet name: </label>#}
{#                <input type="text" placeholder="Pet name">#}
{#            </p>#}
{#            <p>#}
{#                <label for="pet-date">Date of birth: </label>#}
{#                <input type="date">#}
{#            </p>#}
{#            <p>#}
{#                <label for="id_photo_file">Photo file:</label>#}
{#                <input type="file">#}
{#            </p>#}
{#            <!-- Add Pet Button -->#}