.edit-delete {
    color:  #FFA7A6;
    text-shadow: 2px 2px 4px #aa98a9;
    margin-top: 150px;
}

.login-register-div {
    color:  #FFA7A6;
    text-shadow: 2px 2px 4px #aa98a9;
    margin-top: 13%;
}

.edit-delete {
    display: block;
    color:  #FFA7A6;
    text-shadow: 2px 2px 4px #aa98a9;
    background-color: rgb(255, 255, 255);
    border: 1px solid #FFA7A6;
    padding: 40px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid;
    box-shadow: 6px 8px 12px #aa98a9;
}

.edit-delete h2 {
    display: block;
    color: #aa98a9;
    text-shadow: 1px 1px 2px #FFA7A6;
    font-family: Snell Roundhand, cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;

}

.edit-delete label {
    color: #aa98a9;
    font-size: 22px;
    font-weight: bold;
    font-family: Snell Roundhand, cursive;
    display: none;
}

.edit-delete input, select {
    color: #aa98a9;
    font-family: Snell Roundhand, cursive;
    font-size: 22px;
    background-color: white;
    border: 0.1px solid #FFA7A6;
    border-radius: 3px;
    height: 30px;
    padding-left: 2px;
    margin-top: 10px;
}

.edit-delete button {
    color: white;
    font-weight: bold;
    font-size: 28px;

    font-family: Snell Roundhand, cursive;
    border: none;
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
    height: 30px;
    box-shadow: 2px 3px #aa98a9;
    cursor: pointer;
}

.edit-delete textarea {
    position: relative !important;
}

.edit-delete a {
    color: #aa98a9;
    font-size: 16px;
    font-family: Snell Roundhand, cursive;
}

.edit-photo select {

}

.edit-photo label {
    display: initial !important;
    margin-top: 12px;
    margin-right: 5px;
    white-space: nowrap;
}

.edit-photo textarea {
    background-color: rgb(240, 230, 230);
    border: 0.1px solid rgb(186, 184, 184);
    border-radius: 3px;
    height: 30px;
    width: 77.7%;
    margin-left: -30px;
    padding-left: 2px;
    margin-top: 10px;
}

.edit-photo input {
    padding: 3px;
}

.edit-photo p {
    display: flex; flex-direction: column;
}


.delete-btn {
    background-color: #aa98a9;
}

.edit-btn {
    background-color: #FFA7A6;
}

.add-btn {
    background-color: #FFA7A6;
}

.edit-delete button:hover {
    box-shadow: none;
}
