.cat-profile {
    width: 50%;
    margin-bottom: 20px;
}

.cat-profile .profile-data {
    gap: 50px;
    margin-bottom: 20px;
}

.cat-profile .footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 12px;
    font-family: sans-serif;
}

.cat-posts {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid 	#fadadd;
    flex-wrap: wrap;
}

.cat-posts .card {
    margin-top: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
    border: 1px solid 	#fadadd;
    flex-basis: 100%;
}

.cat-posts .card .top {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cat-posts .card .bottom {
    padding: 10px 20px;
}

.cat-posts .card .top .userDetails {
    width: 100%;
    display: flex;
    align-items: center;
}

.cat-posts h3 {
    font-size: 28px !important;
    color: #aa98a9 !important;
    font-family: Snell Roundhand, cursive;
    font-weight: 500 !important;
    line-height: 1em !important;
    white-space: nowrap !important; 
}