.login-register-div {
	margin-top: 13%;
	color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px #FFB6C1;
}

.login-register-box, .second-option {
	display: block;
	width: 300px;
	background-color: rgb(255, 255, 255);
	border: 1px solid #FFB6C1;
	padding: 40px;
	margin-bottom: 15px;
	border-radius: 3px;
	border: 1px solid;
	box-shadow: 1px 2px 3px 	#FFC0CB;
}

.login-register-box h1 {
	font-family: 'Indie Flower', cursive;
	font-size: 40px;
	text-align: center;
	margin-top: -10px;
}

.login-register-box label {
	display: none;
}

.login-register-box input {
	background-color: rgb(240, 230, 230);
	border: 0.1px solid #FFB6C1;
	border-radius: 3px;
	height: 30px;
	width: 100%;
	padding-left: 2px;
	margin-top: 10px;
}

.login-register-box button {
	background-color: #FF69B4;
	color: white;
	font-weight: bold;
	border: none;
	width: 100%;
	border-radius: 3px;
	margin-top: 10px;
	height: 30px;
}

.second-option {
	text-align: center;
	padding: 20px;
}