.userDetails a {
    color: #FFA7A6;
    text-shadow: 1px 1px 2px #aa98a9;
    font-weight: bold;
    font-size: 28px;
}

.pet-details {
    margin: 5px 0 5px -1px;
}

.comments {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid #FFA7A6;
}

.comments .userDetails {
    color: #FFA7A6;
    display: block !important;
}

.comments span {
    color: #aa98a9;
    font-size: 12px;
    font-family: Snell Roundhand, cursive;
}

.comments h3 {
    color: #FFA7A6;
    display: flex;
    word-wrap: break-word;
    white-space: normal;
}

.comments .top {
    padding: 10px !important;
    color: #FFA7A6;
}

.comment-data {
    display: flex;
    font-size: 10px;
    word-break: break-all;
    white-space: normal;
    font-weight: bold;
    color: #FFA7A6;
}

.comment-data h3 {
    margin-top: 5px;
    color: #FFA7A6;
}

.comment-data p {
    color: #aa98a9;
    font-family: Snell Roundhand, cursive;
    margin-top: 4px;
    font-size: 18px;
    word-wrap: break-word;
    white-space: normal;
    font-weight: lighter;
}

.add-comment-details .addComments {
    margin-top: 0 !important;
    color: #FFA7A6;
}

.edit-delete-btns {
    position: absolute;
    top: 20px;
    right: 10px;
}

.edit-delete-btns img {
    width: 20px;
    margin-left: 5px;
}